.App {
  text-align: center;
}


.drifting-logo {
  height: 150px;
}


.forumSubmission {
  /* Code for the gradient */
  /* Source: https://www.quackit.com/css/color/tools/css_gradient_generator.cfm */
/*   background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #b6ffea), color-stop(1, #e2bbff));
  background: -webkit-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -moz-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -o-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -ms-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: linear-gradient(to top right, #b6ffea 0%, #e2bbff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; */
}

.title {
  align-content: left;

}

.description {
  align-content: left;
  height: 200px;
  width: 800px;

}


.homepage {
  margin-top: 10%;
}

.App-header {
/* Code for the gradient */
/*   background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #c8ffef), color-stop(1, #7aa5ff));
  background: -webkit-linear-gradient(bottom left, #c8ffef 0%, #7aa5ff 100%);
  background: -moz-linear-gradient(bottom left, #c8ffef 0%, #7aa5ff 100%);
  background: -o-linear-gradient(bottom left, #c8ffef 0%, #7aa5ff 100%);
  background: -ms-linear-gradient(bottom left, #c8ffef 0%, #7aa5ff 100%);
  background: linear-gradient(to top right, #c8ffef 0%, #7aa5ff 100%);  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 12pt;
  color: black;
}



.App-link {
  color: #61dafb;
}

.links-nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
}

#main {
  margin-top: 75px;
}