body {
      /* Code for the gradient */
  /* Source: https://www.quackit.com/css/color/tools/css_gradient_generator.cfm */
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #b6ffea), color-stop(1, #e2bbff));
  background: -webkit-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -moz-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -o-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: -ms-linear-gradient(bottom left, #b6ffea 0%, #e2bbff 100%);
  background: linear-gradient(to top right, #b6ffea 0%, #e2bbff 100%);*/

  background-image: linear-gradient(rgba(189, 221, 255, 0.62),  #e2bbff);
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: #7A6085;
  padding: 20px;
  overflow: scroll;
}

#section {
    padding-top: 30px;
}

.Encouragement {
    background: rgba(red, green, blue, 0);
}

.App-header {
    display: none;
}

#description {
    margin: auto;
    width: 80%;
    font-size: 10pt;
    margin-bottom: 6%;
}

#nav-links {
    margin-top: 20px;
    font-size: 10pt;
    margin-bottom: 20px;
}
