#nav-bar {
    background-image: linear-gradient(#D6E9FF, rgba(189, 221, 255, 0.62));
    color: white
}

h1 {
    padding-top: 20px;
}

body {
    background-image: linear-gradient(rgba(189, 221, 255, 0.62), #E1B0FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tag-holder {
    background-color: rgba(0, 0, 0, 0.42);
    padding: 10px;
    border-radius: 5px;
}

#clearFilterTags{
    margin-right: 10px;
    margin-top: 15px;
}

.card {
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
}

.btn-outline-white {
    color: white;
}

.card {
    margin-bottom: 30px;
}
